{% extends 'admin/layout.twig' %}

{% block head %}

    {{ parent() }}
    
{% endblock %}

{% block mainButton %}

    <a href="/admin/pageVersion/add/{{page.pageID}}" class="btn btn-primary">New Version</a>
    
{% endblock %}

{% block content %}
    
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped indexTable">
    <thead>
    <tr>
    <th class="control"></th>
    <th>Title</th>
    <th>Date Added</th>
    <th>Actions</th>
    <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for pageVersion in pageVersions %}
      <tr>
      
      <td><a href="/admin/pageVersion/edit/{{pageVersion.pageVersionID}}"><i class="glyphicon glyphicon-pencil"></i> </a></td>
      
      <td><a href="/admin/pageVersion/edit/{{pageVersion.pageVersionID}}">{{pageVersion.title}}</a></td>
      
      <td>{{ pageVersion.dateAdded|date("m/d/Y g:ia") }}</td>
      
      <td>	
      		
      	<a class="btn btn-default btn-xs" href="/admin/pageVersion/copy/{{pageVersion.pageVersionID}}">Copy</a>			
      	
        <a class="btn btn-default btn-xs" href="#" onclick="window.open('/admin/pageVersion/preview/{{pageVersion.pageVersionID}}'); return false;" >Preview</a>
        
        {% if pageVersion.status == 'inactive' %}
      		<a class="btn btn-success btn-xs" href="/admin/pageVersion/publish/{{pageVersion.pageVersionID}}">Publish</a>
        {% endif %} 
      
      </td>
      
      <td>{{m.status(pageVersion.status)}}</td>
      
      </tr>
    {% endfor %}
    </table>
    
{% endblock %}