{% extends 'admin/layout.twig' %}

{% block head %}

    {{ parent() }}
    
{% endblock %}

{% block content %}
    
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped">
    <thead>
    <tr>
    <th></th>
    <th></th>
    <th>Headline</th>
    <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {% for page in pages %}
      <tr>
      <td><a href="/admin/pageVersions/index/{{page.pageID}}"><i class="glyphicon glyphicon-cog"></i> </a></td>
      <td><a href="/admin/page/edit/{{page.pageID}}"><i class="glyphicon glyphicon-pencil"></i></a></td>
      <td><a href="/admin/page/edit/{{page.pageID}}">{{page.title}}</a></td>
      
      <td>{{m.status(page.status)}}</td>
      </tr>
    {% endfor %}
    </table>
    
{% endblock %}